<div id="presentation" class="hidden">

    <div id="presentationBackground">
    </div>

    <div id="navigationControls">
    </div>

    <div id="stageHolder">

        <div id="stage">

            <!--Slides-->
            <%= partial "presentation/presentationSlides" %>

            <!--Presentation Mascot-->
            <a href="/"><%= image_tag '/images/presentation/mascot_noshadow.svg', :alt => "Amoeba", :id => "presentationMascot" %></a>

        </div>

    </div>


</div>
