@import "compass/utilities/general/float";
@import "compass/css3";

#header {
  @include center(910px);
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 133px;
  background-color: $amoebaGreen;
  @include opacity(0.93);

  @include border-radius(0 0 5px 5px);
  @include box-shadow(rgba(0, 0, 0, 0.19) 1px 1px 1px);

  @include breakpoint(tablet) {
    @include center(800px);
    height: 130px;
  }
  @include breakpoint(mobile) {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    margin-left: 0;
    margin-top: -50px; // Body padding
    @include border-radius(0);
    @include box-shadow(none);
    @include opacity(1);
  }

  h1 {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 10px 0 0 15px;

    @extend %amoebaFontSemiBold;
    font-size: 124px;
    line-height: 124px;
    color: white;

    @include breakpoint(tablet) {
      font-size: 110px;
      margin-top: -15px;
      margin-left: 20px;
    }
    @include breakpoint(mobile) {
      font-size: 50px;
      line-height: 50px;
      margin: 0;
      padding: 0 0 0 10px;
    }

    a {
      text-decoration: none;
      color: white;
    }

    sup {
      font-size: 14px;
      position: relative;
      top: -60px;
      left: -4px;

      @include breakpoint(tablet) { 
        font-size: 11px;
        left: -7px;
        top: -55px;
      }
      @include breakpoint(mobile) { 
        font-size: 8px;
        position: relative;
        top: -25px;
        left: -3px;
      }
    }
  }

  h2 {
    @extend %amoebaFontMedium;
    line-height: 26px;
    font-size: 26px;
    margin: 0;
    color: white;

    @include breakpoint(tablet) {
      font-size: 21px;
      margin: 5px 0px 0px 5px;
      line-height: 21px;
    }
    @include breakpoint(mobile) {
      display: none;
      font-size: 18px;
      margin-top: 20px;
      margin-left: 0px;
    }
  }
}

.header-right {
  position: absolute;
  right: 0;
  width: 425px;
  margin: 53px 15px 0 15px;
  text-align: center;

  @include breakpoint(tablet) {
    width: 335px;
    margin: 20px 5px;
    text-align: left;
    left: 53%;
    top: 17px;
  }
  @include breakpoint(mobile) {
    width: 200px;
    margin: 0;
    text-align: right;
    vertical-align: middle;
    right: 10px;
    top: 10px;
    left: auto;
  }

  // This span surrounds the next two elements
  #mobile-button {
    &:hover {
      cursor: pointer;
    }
  }

  // This is the "Jump To" text on mobile
  .jump-to {
    @extend %mobileOnly;
    @extend %amoebaFontSemiBold;
    font-size: 12px;
    text-align: left;
    margin-right: 5px;
  }

// This is the mobile button icon
  i {
    display: none;
    @include box-shadow(rgba(0, 0, 0, 0.21) 0.75px 0.75px 0.5px);

    @include breakpoint(mobile) {
      display: inline;
      font-size: 24px;
      vertical-align: middle;
    }
  }
}

nav#main {
  height: 30px;
  width: 425px;
  margin: 8px 0 0 0;

  // Setup the borders between the navigation elements:
  border-top: 1px solid $amoebaGreenDark;

  @include breakpoint(mobile) {
    display: none;
  }

  ul {
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      margin-left: auto;
      margin-right: auto;

      a {
        padding: 0px 10px 0px 10px; //10px spacing between elements

        // Typography settings:
        text-decoration: none;
        @extend %amoebaFontMedium;
        color: $amoebaGreenDark;
        font-size: 21px;
        white-space: nowrap;

        @include breakpoint(tablet) {
          padding: 0px 20px 0px 15px;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}

nav#mobile-nav {
  display: none;

  position: relative;
  background-color: $amoebaGreen;
  width: 100%;
  top: 0px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;

      // Setup the borders between the navigation elements:
      border-top: 1px solid $amoebaGreenMedium;

      &:last-child {
        border-bottom: 1px solid $amoebaGreenMedium;
      }

      // Style the links in the menu
      a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        padding-bottom: 1px;

        // Typography settings:
        @extend %amoebaFontMedium;
        color: $amoebaGreenDark;
        font-size: 36px;
        line-height: 50px; //Center in the middle of the bar, 42px high
        text-align: center;

        &:active {
          background: $amoebaGreenMedium;
        }
      }
    }
  }
}
