@import "homepage/capabilities";

.homepage {
	@import "homepage/nav";
	
	$pageWidth: 845px;

	position: absolute;
	width: $pageWidth;
	top: 100px;

	// Center the DIV:
	left: 50%;
	margin-left: -$pageWidth/2;

	// Font styles that apply all the way down:
	text-align: right;
	@extend %amoebaFontRegular;

	i.amoeba-character {
		content: image-url("mascot.svg");
		width: 357px;
		height: 339px;
		position: absolute;
		left: 0px;
		z-index: 10;
	}

	h1 {
		@extend %amoebaFontSemiBold;
		font-size: 153px;
		line-height: 130px;
		padding: 69px 0px 5px 0px;
		margin: 0 -7px 0 0;
		color: $amoebaGreen;
	}
	h2 {
		@extend %amoebaFontMedium;
		line-height: 26px;
		font-size: 26px;
		margin: 0;
		color: $amoebaGreenDark;
	}
}