@import "compass/utilities/general/float";
@import "compass/css3";

#navigation {
	@include center(910px);
	position: fixed;
	z-index: 1000;
	top: 0;
	height: 133px;
	background-color: $amoebaGreen;

	@include border-radius(0 0 5px 5px);
	@include box-shadow(rgba(0,0,0,0.19) 5px 5px 4px);

	h1 {
		position: absolute;
		left: 0;
		@extend %amoebaFontSemiBold;
		font-size: 124px;
		line-height: 124px;
		padding-top: 10px;
		padding-left: 25px;
		margin: 0;
		color: white;
	}
	
	.navigation-right {
		position: absolute;
		right: 0;
		width: 420px;
		margin: 60px 15px 0 15px;
		text-align: center;
	}

	h2 {
		display: inline;
		@extend %amoebaFontMedium;
		font-weight: bold;
		line-height: 24px;
		font-size: 24px;
		margin: 0;
		color: white;
	}

	nav {
		height: 30px;
		width: 416px;

		// Setup the borders between the navigation elements:
		border-top: 1px solid $amoebaGreenDark;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				@include inline-block;

				// Style the links in the menu
				a {
					@include inline-block;
					text-decoration: none;
					height: 30px;
					padding: 0px 10px 0px 13px; //15px spacing between elements
					white-space: nowrap;

					// Typography settings:
					@extend %amoebaFontMedium;
					color: $amoebaGreenDark;
					font-size: 21px;
					//line-height: 42px; //Center in the middle of the bar, 42px high

					&:hover {
						//background: darken($amoebaGreenMedium, 10%);
					text-shadow: 3px 5px 10px #000;

					}
				}
			}
		}
	}
}