@import "compass/utilities/general/float";
@import "compass/css3";

nav#standard {
  @include breakpoint(mobile) { 
    display: none;
  }

  background-color: $amoebaGreen;
  margin-top: 32px;
  height: 42px;
  width: 530px;

  // Align it right under our subheading
  display: block;
  @include float-right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      display: block;
      position: relative;
      @include float-right;
      height: 30px;
      
      // Setup the borders between the navigation elements:
      border-left: 1px solid $amoebaGreenMedium;
      margin-top: 6px;
      margin-bottom: 6px;

      // Last menu item doesn't need a border
      &:last-child {
        border-left: none;
      }

      // Style the links in the menu
      a {
        display: block;
        text-decoration: none;
        height: 42px; // Height is full size of nav bar so hover fills it
        padding: 0px 40px 0px 40px; //40px spacing between elements
        white-space: nowrap;

        // Compensate for the border between elements
        margin: -6px -1px -6px -1px;

        // Typography settings:
        @extend %amoebaFontMedium;
        color: $amoebaGreenDark;
        font-size: 21px;
        line-height: 42px; //Center in the middle of the bar, 42px high
        text-align: center;

        &:hover {
          background: $amoebaGreenMedium;
        }
      }
    }
  }
}

#mobile-button {
  display: none;

  @include breakpoint(mobile) {
    top: 5px;
    right: 10px;
    display: block;
    position: absolute;
    background-color: $amoebaGreen;
    padding: 6px;
    @include border-radius(5px);
    @include box-shadow(rgba(0, 0, 0, 0.21) 1px 1px 1px);
  }
}

//TODO: Couldn't we remove this DIV and just use the NAV?
#mobile-nav {
  display: none;

  @include breakpoint(tablet) {
    display: none;
  }
  @include breakpoint(mobile) {
    display: block;
    width: 100%;
    z-index: 999;
  }

  nav{
    background-color: $amoebaGreen;
    margin-bottom: 15px;
    width: 100%;
    top: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;

        // Setup the borders between the navigation elements:
        border-bottom: 1px solid $amoebaGreenMedium;
        margin-top: 6px;
        margin-bottom: 6px;

        // Style the links in the menu
        a {
          display: block;
          text-decoration: none;
          padding: 0px 100px 0px 100px;
          white-space: nowrap;
          margin: 5px;
          padding: 5px;

          // Typography settings:
          @extend %amoebaFontMedium;
          color: $amoebaGreenDark;
          font-size: 36px;
          line-height: 42px; //Center in the middle of the bar, 42px high
          text-align: center;

          &:active {
            background: $amoebaGreenMedium;
          }
        }
      }
    }
  }
}
