// Util.css - random utility classes and mixins that don't belong elsewhere

//-------- Classes ----------- 
.hidden {
  display: none;
}

.geo-medium {
  @extend %amoebaFontMedium;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

//-------- Mixins ----------- 
@mixin center($elmWidth: $pageWidth) {
  width: $elmWidth;
  left: 50%;
  margin-left: -$elmWidth/2;
}