// Util.css - random utility classes and mixins that don't belong elsewhere

@import "compass/css3";

//-------- Classes ----------- 
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.geo-medium {
  @extend %amoebaFontMedium;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.vertical-center {
  @include inline-block;
  height: inherit;
  &:before {
    content: "";
    @include inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &:after {
    content: "";
    @include inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

//-------- Mixins ----------- 
@mixin center($elmWidth: $pageWidth) {
  width: $elmWidth;
  left: 50%;
  margin-left: -$elmWidth/2;
}

@mixin rollover {
  @include transition(all 1s ease);
  &:hover {
    opacity: 0.0;
  }
}

@mixin socialHover {
  @include transition(all 0.5s ease);
  &:hover {
    color: $amoebaGreenMedium;
  }
}