// Util.css - random utility classes and mixins that don't belong elsewhere

//-------- Classes ----------- 
.hidden {
	display: none;
}

.gradient-box {
	@include background-image(linear-gradient(color-stops($amoebaGreenMedium, $amoebaGreen)));
}

.geo-medium {
	@extend %amoebaFontMedium;
}

//-------- Mixins ----------- 
@mixin center($elmWidth: $pageWidth) {
	width: $elmWidth;
	left: 50%;
	margin-left: -$elmWidth/2;
}