// Configure Compass:
$experimental-support-for-svg: true;

// Amoeba Vars:
$amoebaGreen: #A6CC2F;
$amoebaGreenMedium: #8BA400;
$amoebaGreenDark: #374F0E;
$greyLight: #BEC0C6;
$greyShadow: #EAEBED;

$pageWidth: 845px;