@import "variables";

div#iesucks {
  display: block;
  background-color: black;
  margin: 50px auto;
  width: 850px;

  h1{
    color: white;
    padding: 25px 50px;
    text-align: center;
    font-size: 90px;
    text-color: white;

    strong {
      color: red;
      font-style: bold;
    }
  }

  img {
    float: right;
  }

  p {
    color: white;
    padding-left: 75px;
    font-size: 36px;
    text-color: white;
    text-align: left;
    a {
      color: $amoebaGreen;
      font-weight: bold;
    }
  }
}

#homepage {
  display: none;
}