//=require normalize
//=require font-awesome
//=require storyboard

// Imports:
@import "variables";
@import "fonts";
@import "util";
@import "animations";
@import "header";
@import "homepage";
@import "404";

// for presentation
@import "compass/css3";
@import "compass/layout/stretching";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";

// github/ericam/compass-animation gem imports
@import "animation";
@import "animation/animate";

@import "presentation/presentation";
@import "presentation/clouds";
@import "presentation/rotatingCube";
@import "presentation/blipblip";

body {
  // consider filter-gradient for old IE
  @include background-image(linear-gradient(color-stops($greyLight 0%, white 50%)));
  height: 573px;
  background-repeat: repeat-x;

  margin-top: 50px;

  // Font styles that apply all the way down:
  @extend %amoebaFontRegular;
  color: $amoebaGreenDark;

  h1,h2,h3,h4 {
    color: $greenUltraDark;
  }

  a {
    color: $greenUltraDark;
  }

  // Some more sensible defaults for our icon links
  a [class^="icon-"],
  a [class*=" icon-"] {
    color: $amoebaGreen;
    text-decoration: none;
  }
}