//=require normalize
//=require font-awesome

// Imports:
@import "variables";
@import "fonts";
@import "util";
@import "social_bar";
@import "mailchimp";
@import "animations";
@import "header";
@import "homepage";
@import "404";
@import "blog";

body {
  // consider filter-gradient for old IE
  @include background-image(linear-gradient(color-stops($greyLight 0%, white 50%)));
  height: 573px;
  background-repeat: repeat-x;

  margin-top: 50px;

  // Font styles that apply all the way down:
  @extend %amoebaFontRegular;
  color: $amoebaGreenDark;

  h1,h2,h3,h4 {
    color: $greenUltraDark;
  }

  a {
    color: $greenUltraDark;
  }

  // Some more sensible defaults for our icon links
  a [class^="icon-"],
  a [class*=" icon-"] {
    color: $amoebaGreen;
    text-decoration: none;
  }

  // Remove Firefox's ugly dotted outline on things
  :focus {
    outline: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }

  // Force vertical scrollbar so Gecko browsers don't "jump"
  overflow-y: scroll;
  overflow-x: hidden;
}