@import "vendor/normalize";
@import "compass/css3";
@import "vendor/font-awesome";
@import "amoeba/fonts";

body {
	// consider filter-gradient for old IE
	@include background-image(linear-gradient(-90deg,rgb(190,192,198) 0%,rgb(255,255,255) 50%,rgb(255,255,255) 100%));
	background-repeat: repeat-x;

	width:30px;
	height:581px;
}

$pageWidth: 845px;
.main-container {
	position: absolute;
	width: $pageWidth;
	top: 100px;

	// Center the DIV:
	left: 50%;
	margin-left: -$pageWidth/2;

	// Font styles that apply all the way down:
	text-align: right;
	@extend %amoebaFontSemiBold;
	
	// For testing purposes:
	border: 1px solid;

	i.amoeba-character {
		content: image-url("mascot.svg");
		width: 357px;
		height: 339px;
		position: absolute;
		left: 0px;
	}

	h1 {
		font-size: 153px;
		line-height: 130px;
		padding: 69px 0px 20px 0px;
		margin: 0;
		color: #bdd407;
	}
	h2 {
		color: #314C00;

	}
}