//=require normalize
//=require font-awesome
@import "fonts";
@import "animations";

// Configure Compass:
$experimental-support-for-svg: true;

// Amoeba Vars:
$amoebaGreen: #B5CE2F;
$amoebaGreenMedium: #A6CB3D;
$amoebaGreenDark: #374F0E;
$greyLight: #BEC0C6;
$greyShadow: #EAEBED;
$pageWidth: 845px;

body {
	// consider filter-gradient for old IE
	@include background-image(linear-gradient(color-stops($greyLight 0%, white 50%)));
	background-attachment:fixed;
}

@import "homepage";
@import "util";

