<!-- TODO: Need to pass in URL, Image, and Description as variables -->
<div class="social-bar">
  <div class="fb-share">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Famoe.ba&amp;layout=button_count&amp;show_faces=false&amp;width=85&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:85px; height:21px;"></iframe>
  </div>
  <div class="gp-share">
    <g:plusone size="medium" href="http://amoe.ba"></g:plusone>
  </div>
  <div class="tw-share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://amoe.ba"  data-text="[Insert Tweet Text]" data-count="horizontal" data-via="AmoebaSoft"></a>
  </div>
  <div class="in-share">
    <script type="in/share" data-url="http://amoe.ba" data-counter="right"></script>
  </div>
  <div class="pin-share">
    <a href="http://pinterest.com/pin/create/button/?url=http://amoe.ba&media=http://amoe.ba/images/external/mascot-square-200px.png" class="pin-it-button" count-layout="horizontal"></a>
  </div>
</div>