
#viewport {
  @include perspective(1000);
  @include transform-style(preserve-3d);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#world {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -256px;
  height: 512px;
  width: 512px;
  // border: 1px solid red
  @include transform-style(preserve-3d);
  pointer-events: none;
}

#world div {
  // clouds don't rotate in 3d without this
  @include transform-style(preserve-3d);
}

.cloudBase {
  // border: 1px solid green;
  position: absolute;
  left: 256px;
  top: 256px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

.cloudLayer {
  // border: 1px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
}

.effectsStage {
  @include transform-style(preserve-3d);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  pointer-events: none;

  div {
    @include transform-style(preserve-3d);
  }
}
