$bubbleColor: #5a8f00;
$borderRadius: 10px;

@mixin bubbleMixin($arrowLocation, $borderColorParams)
{
  position: fixed;
  opacity: 1;

  .bubble {
    position: relative;
    width: 100%;
    height: 100%;
    @include background-image(linear-gradient(#b8db29, $bubbleColor));

    @include border-radius($borderRadius);
  }

  .bubble:before {
    content: "";
    display: block;

    position: absolute;
    top: 100%;
    left: $arrowLocation;
	border: 25px solid;
    border-color: $borderColorParams;
    width: 0;
  }
}

.left-bubble-box {
  @include bubbleMixin(10%, $bubbleColor transparent transparent $bubbleColor);
}
.right-bubble-box {
  @include bubbleMixin(80%, $bubbleColor $bubbleColor transparent transparent);
}

.bubbleText {
  color: white;
  padding: 30px;
  font-size: 24px;
  font-family: Cambria, Georgia, sans-serif;
}


