
// generated here: http://htmlgenerator.weebly.com/css-speech-bubble-generator.html

@mixin bubbleMixin()
{
  $arrowLocation: 75%;
  $backColor: rgba(50,50,50,1);
  $borderColor: rgba(0,0,0,1);
  $borderRadius: 20px;

  .bubble {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: $backColor;
    z-index: 1;

    border: $borderColor solid 4px;
    @include border-radius($borderRadius);
    @include box-shadow(0px 0px 40px black);
  }

  .bubble:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: $arrowLocation;
    @include transform(translateX(3px));
    border-style: solid;
    border-width: 14px 14px 0;
    border-color: $backColor transparent;
    display: block;
    width: 0;
    z-index: 2;
  }

  .bubble:before {
    content: "";
    position: absolute;
    bottom: -18px;
    left: $arrowLocation;
    border-style: solid;
    border-width: 17px 17px 0;
    border-color: $borderColor transparent;
    display: block;
    width: 0;
    z-index: 0;
  }
}

.bubble-box {
  position: absolute;
  opacity: 0;
  @include bubbleMixin();
}
