
// generated here: http://htmlgenerator.weebly.com/css-speech-bubble-generator.html

@mixin bubbleMixin()
{
  $arrowLocation: 75%;
  $backColor: rgba(240,240,240,1);
  $borderColor: rgba(52,52,52,1);
  $borderRadius: 30px;

  .bubble {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: $backColor;

    border: $borderColor solid 4px;
    @include border-radius($borderRadius);
  }

  .bubble:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: $arrowLocation;
    @include transform(translateX(3px));
    border-style: solid;
    border-width: 14px 14px 0;
    border-color: $backColor transparent;
    display: block;
    width: 0;
    z-index: 1;
  }

  .bubble:before {
    content: "";
    position: absolute;
    bottom: -18px;
    left: $arrowLocation;
    border-style: solid;
    border-width: 17px 17px 0;
    border-color: $borderColor transparent;
    display: block;
    width: 0;
    z-index: 0;
  }
}

// --------------------------------------------------------
// --------------------------------------------------------
// speech bubbles

.left-bubble-box {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 150px;
  width: 300px;
  opacity: 0;
  z-index: 1;
  @include bubbleMixin();
}

.right-bubble-box {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 150px;
  width: 300px;
  opacity: 0;
  z-index: 1;
  @include bubbleMixin();
}