<div id="header" class="hidden">
  <h1><a href="/">Amoeba</a><sup>SM</sup></h1>

  <div class="header-right">
    <span id="mobile-button">
      <span class="jump-to">Jump To</span>
      <i class="icon-reorder"></i>
    </span>
    <h2>Remarkable Development and Design</h2>
    <nav id="main">
      <ul>
        <li><a href="/team">Our Team</a></li>
        <li><a href="/contactus">Get In Touch</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>

  <!-- Hidden on desktop browsers, but used on mobile devices for nav -->
  <nav id="mobile-nav">
    <ul>
      <li><a href="/team">Our Team</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contactus">Get In Touch</a></li>
    </ul>
  </nav>

</div>

