.sidebar {
  width: 22%;
  background-color: $amoebaGreen;
  display: inline-block;
  padding: 20px;
  top: 15px;
  right: 0;
  position: absolute;
  height: auto;

  h2 {
    margin-bottom: 10px;
  }

  .category-list, .article-list  {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #4d4d4d;
  }

  .article-list {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;

        &:hover {
          background-color: lighten($amoebaGreen, 30%);
        }
        a {
          font-size: 16px;
          font-family: "HelveticaNeue-Light";
          text-decoration: none;
        }
      }
    }
  }
}