---
title: Welcome to Amoeba
---
<div class="center404">
<div class="info404">
	<h1>404</h1> 
	<h2>NOT FOUND</h2>

</div>
	<div id="home404">
		<nav>
		<a class="home" href="index.html">Click to Go Back Home</a>
		<h2>Want to do something else?</h2>
	      <ul>  
	        <li><a href="/team">See Our Team</a></li>
	        <li><a href="/contactus">Get In Touch</a></li>
	        <li><a href="/blog">Read Our Blog</a></li>
	      </ul>
	    </nav>	
	</div>
</div>