---
title: Welcome to Amoeba
---

<div id="homepage">
	<img src="images/mascot.svg" alt="Amoeba Character" id="mascot" />
	<div id="header">
		<h1>Amoeba</h1>
		<h2>Remarkable Development and Design</h2>
		<nav>
			<ul>
				<li><a href="#" id="contactus-button">Get In Touch</a></li>
				<li><a href="#" id="team-button">Our Team</a></li>
				<li><a href="#" id="presentation-button">How We Can Help</a></li>
			</ul>
		</nav>
	</div>
	<div class="capabilities">
		<div class="capability-background"></div>
		<div class="capability-box">
			<img src="images/web.svg" alt="Web Device" class="img-web" />
			<h2>Web Development</h2>
			<p>Now that we know who you are, I know who I am. I’m not a mistake! It all makes sense!</p>
		</div>
		<div class="capability-box">
			<img src="images/mobile.svg" alt="Mobile Device" class="img-mobile" />
			<h2>Mobile Applications</h2>
			<p>Now that we know who you are, I know who I am. I’m not a mistake! It all makes sense!</p>
		</div>
		<div class="capability-box">
			<img src="images/gap.svg" alt="Person" class="img-gap" />
			<h2>Filling The Gap</h2>
			<p>Now that we know who you are, I know who I am. I’m not a mistake! It all makes sense!</p>
		</div>
	</div>
	<div id="sayhi" class="hidden">
		<h1>Amoeba</h1>
		<h2>Interesting Projects? Suggestions? Questions?</h2>
		<div class="gradient-box">
			<span class="geo-medium">Let us know &ndash;</span> sayhi@amoe.ba
		</div>
	</div>
	<div id="contactus" class="hidden">
		
	</div>
	<div id="footer">
		<i class="icon-facebook-sign"></i>
		<i class="icon-twitter-sign"></i>
		<i class="icon-linkedin-sign"></i>
		<i class="icon-github-sign"></i>
		&copy; Amoeba Consulting LLC, 2012
	</div>
</div>
