---
title: Welcome to Amoeba
---

<div class="homepage">
	<i class="amoeba-character"></i>
	<h1>Amoeba</h1>
	<h2>Remarkable Development and Design</h2>
	<nav>
		<ul>
			<li><a href="">Get In Touch</a></li>
			<li><a href="">Our Team</a></li>
			<li><a href="">How We Can Help</a></li>
		</ul>
	</nav>
	<div class="capabilities">
		
	</div>
</div>
