---
title: Amoeba Consulting | Web and Mobile Application Development
---
<noscript>
  <div id="javascriptDiabled">
      <h1 style="color: #0ed; text-align: center">You need Javascript enabled to see this site. Sorry.</h1>
  </div>
</noscript>

<div id="iesucks" class="hidden">
  <h1>You are using an <strong>outdated</strong> browser.</h1>
  <img alt="dancing baby" src="images/baby.gif">
  <p>Please <a href="http://browsehappy.com/">upgrade your browser</a><br />
    or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a><br />
    to improve your experience.</p>
  <div class="clearfix"><br/><br/></div>
</div>

<%= partial "homepage/homepage" %>
<%= partial "presentation/presentation" %>
