@import "compass/css3";
@import "compass/layout/stretching";
@import "compass/utilities/general/clearfix";

.capabilities {
  @include clearfix;

  position: relative;
  margin-top: 68px;
  width: $pageWidth;
  height: 210px;
  text-align: center;

  background-color: $amoebaGrey;
  @include border-radius(6px);
  @include box-shadow(rgba(0, 0, 0, 0.21) 1px 1px 1px);

  @include breakpoint(tablet) {
    width: 95%;
    height: 600px;
    left: 20px;
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: 405px;
    margin: 0px;
    padding: 0px;
    left: 0;
    top: 10px;
  }

  .capability-box {
    @include inline-block;
    @include box-sizing(border-box);
    width: 33%;
    height: 160px; //50px less than .capabilities:height
    padding-right: 10px;
    text-align: left;
    float: left;
    margin: 25px 0px 25px 0px;
    border-right: 1px solid $amoebaGreenMedium;

    @include breakpoint(tablet) {
      width: 100%;
      float: left;

      border-bottom: 1px solid $amoebaGreenMedium;
      border-right: none;
    }
    @include breakpoint(mobile) {
      width: 100%;
      height: 125px; //(.capabilities:height/3) - 10px
      float: left;

      border-bottom: 1px solid $amoebaGreenMedium;
      margin: 0;
      border-right: none;
    }

    h2 {
      @extend %amoebaFontMedium;
      font-size: 18px;
      text-align: center;
      margin: 90px 0 0 0;
      color: $greenUltraDark;

      @include breakpoint(tablet) {
        font-size: 32px;
        margin-top: 0px;
        margin-left: 350px;
        float: left;
      }
      @include breakpoint(mobile) {
        font-size: 18px;
        margin-top: 5px;
        margin-left: 155px;
        float: left;
      }
    }

    p {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      margin: 0 0 5px 15px;

      @include breakpoint(tablet) {
        font-size: 18px;
        line-height: 20px;
        margin-left: 350px;
        margin-right: 50px;
        float: right;
        text-align: left;
      }
      @include breakpoint(mobile) {
        font-size: 12px;
        line-height: 14px;
        margin: 2px 5px 0 155px;
        float: right;
        text-align: left;
      }
    }

    img {
      position: absolute;
      top: 50%;
      height: 100px;
      margin-top: -90px;

      @include breakpoint(tablet) {
        height: 135px;
      }
      @include breakpoint(mobile) {
        height: 70px;
        top: 100%;
        left: -15px;
      }
    }

    &.web {
      @include breakpoint(tablet) {
        position: relative;
        top: 25px;
        left: 0px;
      }
      @include breakpoint(mobile) {
        position: relative;
        top: 0px;
        left: 0px;
        padding-top: 4px;
      }

      img {
        margin-left: 52px;

        @include breakpoint(tablet) {
          margin-left: 40px;
          margin-top: -90px;
        }
        @include breakpoint(mobile) {
          margin-left: 25px;
          margin-top: -100px;
        }
      }
    }

    &.mobile {
      @include breakpoint(tablet) {
        position: relative;
        top: 25px;
        left: 0px;
      }
      @include breakpoint(mobile) {
        position: absolute;
        top: 34%;
        left: 0px;
      }

      img {
        margin-left: 80px;

        @include breakpoint(tablet) {
          margin-left: 100px;
          margin-top: -90px;
        }
        @include breakpoint(mobile) {
          margin-left: 60px;
          margin-top: -110px;
        }
      }
    }

    &.gap {
      border-right: none;

      @include breakpoint(tablet) {
        position: absolute;
        top: 425px;
        left: 0px;
        border-bottom: none;
      }
      @include breakpoint(mobile) {
        position: absolute;
        top: 66%;
        left: 0px;
        padding-bottom: 20px;
        border-bottom: none;
      }

      img {
        margin-left: 60px;

        @include breakpoint(tablet) {
          margin-left: 75px;
          margin-top: -85px;
        }
        @include breakpoint(mobile) {
          margin-left: 40px;
          margin-top: -100px;
        }
      }
    }
  }
}

