@import "compass/css3";
@import "compass/layout/stretching";
@import "compass/utilities/general/clearfix";

.capabilities {
  @include clearfix;
  position: relative;
  margin-top: 68px;
  width: $pageWidth;
  height: 200px;
  text-align: center;

  background-color: $amoebaGrey;
  @include border-radius(6px);
  @include box-shadow(rgba(0, 0, 0, 0.21) 1px 1px 1px);

  .capability-box {
    @include inline-block;
    @include box-sizing(border-box);
    width: 33%;
    height: 150px; //50px less than .capabilities:height
    padding-right: 10px;

    // Border
    margin: 25px 0px 25px 0px;
    border-right: 1px solid $amoebaGreenMedium;
    &:last-child {
      border-right: none;
    }

    // Typography
    text-align: left;
    h2 {
      @extend %amoebaFontMedium;
      font-size: 18px;
      text-align: center;
      margin: 90px 0 0 0;
      color: $greenUltraDark;
    }

    p {
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      margin: 0 0 5px 15px;
    }

    // Images
    img {
      position: absolute;
      top: 50%;
      height: 100px;
      margin-top: -90px;
    }

    .img-web {
      margin-left: 52px;
    }

    .img-mobile {
      margin-left: 80px;
    }

    .img-gap {
      margin-left: 60px;
    }

    .image-web-ignore {
      margin-left: 52px;
    }

    .image-mobile-ignore {
      margin-left: 80px;
    }
    
    .image-gap-ignore {
      margin-left: 60px;
    }
  }
}

