@import "compass/css3";
@import "compass/layout/stretching";

#mascot.contactus {
  width: 233px;
  height: 224px;
  top: 142px;
  left: 57px;

  @include breakpoint(mobile) {
    display: none;
  }
}

#contact-questions {
  position: absolute;
  top: 365px;
  width: 350px;
  text-align: center;

  @include breakpoint(tablet) { 
    width: 300px;
    left: 25px;
  }
  @include breakpoint(mobile) {
    top: 25px;
    position: relative;
    width: 100%;
    left: 0;
  }


  h1 {
    @extend %amoebaFontSemiBold;
    font-size: 103px;
    color: $amoebaGreen;
    margin: -10px 0 0 0;
    line-height: 103px;

    @include breakpoint(tablet) { 
      font-size: 87px;
    }
    @include breakpoint(mobile) { 
      top: 0;
      display: none;
    }

    sup {
      position: relative;
      top: -50px;
      left: -3px;
      font-size: 12px;

      @include breakpoint(tablet) {
        top: -40px;
        left: -3px;
        font-size: 10px;
      }
      @include breakpoint(mobile) {
        display: none;
      }
    }
  }

  h2 {
    @extend %amoebaFontMedium;
    font-size: 17px;
    margin: 0 0 0 0;
    color: $amoebaGreenDark;

    @include breakpoint(tablet) { 
      font-size: 15px;
      margin-top: -15px;
    }
    @include breakpoint(mobile) { 
      font-size: 18px;
    }
  }

  #sayhi {
    font-size: 20px;
    padding: 10px 10px;
    margin-top: 8px;
    @include border-radius(3px);
    background-color: $amoebaGreen;

    @include breakpoint(mobile) {
      @include border-radius(0);
      left: 0;
      right: 0;
      width: 100%;
    }

    #know {
      font-size: 36px;
    }

    a {
      text-decoration: none;
    }
  }
}

#contactus {
  position: absolute;
  top: 115px;
  right: 0;
  width: 441px;
  height: 460px;

  @include breakpoint(tablet) { 
    margin-right: 20px;
    width: 400px;
  }
  @include breakpoint(mobile) {
    @include border-radius(0);
    margin: 0;
    width: 100%;
    padding: 10px;
    top: -43px;
    position: relative;
    margin-bottom: 0px;
    height: 400px;
    z-index: -99;
  }

  @include border-radius(3%);
  @include box-shadow(rgba(0, 0, 0, 0.21) 1px 1px 1px);

  background-color: $amoebaGrey;

  form {
    @include stretch;
    padding: 110px 15px 10px 15px;

    @include breakpoint(tablet) {
      padding: 90px 0px 10px 0px;
    }
    @include breakpoint(mobile) {
      padding: 90px 20px 0 0;;
    }

    .contact-form-group {
      margin: 10px 50px 10px 50px;

      @include breakpoint(mobile) { 
        margin: 10px 15px 10px 15px;
      }
    }

    label {
      @include box-sizing(border-box);
      display: block;
      float: left;
      width: 101px;
      height: 24px;
      padding: 3px 2px 2px 13px;
      background: $amoebaGreen;
      font-size: 16px;
      line-height: 16px;
    }

    input:not([type=submit]):not([type=file]) {

      width: 175px;
      height: 24px;
      background-color: white;
      border: none;
      color: $amoebaGreenDark;
      padding: 0 5px 0 5px;
    }

    textarea {
      margin-top: 20px;
      width: 100%;
      border: none;
      background-color: white;
      color: $amoebaGreenDark;
    }

    p {
      font-size: 12px;
      &.error-message {
        margin-bottom: 0;
        font-weight: bold;
        color: red;
        &.success {
          color: green;
        }
      }
    }

    input[type=submit] {
      float: right;
      @include breakpoint(mobile) {
        margin-top: -20px;
      }
    }
  }

  // This create a psudo-element before our DIV in the DOM in order to have the
  // ribbon at the top extend to the left 11px to give it a 3d appearance.
  //
  &:before {
    position: absolute;
    left: -10px;
    top: 0;
    width: 307px;
    height: 82px;
    background-image: image-url("contact_ribbon.svg");
    background-repeat: no-repeat;

    content: "How Can We Help?";
    padding: 15px 0 0 37px;
    @extend %amoebaFontMedium;
    font-size: 28px;

    @include breakpoint(mobile) {
      display: none;
    }
  }
}