#footer {
	width: $pageWidth;
	position: absolute;
	top: 588px;

	// Typography
	text-align: right;
	font-size: 12px;

	i {
		font-size: 30px;
		line-height: 30px;
		padding-right: 15px;
		color: $amoebaGreen;
	}
}