#footer {
  width: $pageWidth;
  position: absolute;
  top: 600px;
  text-align: right;
  font-size: 12px;

  @include breakpoint(tablet) {
    width: 95%;
    top: 100%;
    padding: 10px 0;
  }
  @include breakpoint(mobile) {
    width: 95%;
    top: 100%;
    margin-top: 25px;
  }

  i {
    @include socialHover; 
    color: $amoebaGreen;
    font-size: 30px;
    line-height: 30px;
    padding-right: 15px;
    text-decoration: none;

    @include breakpoint(mobile) { 
      padding-right: 3px;
      font-size: 27px;
    }
  }

  &.team {
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }
}