@import "compass/utilities/general/float";
@import "compass/css3";

nav {
  margin-top: 10px;
  height: 42px;
  width: 530px;
  display: block;

  @include breakpoint(tablet) {
    width: 80%;
  }
  @include breakpoint(mobile) {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      @include float-right;
      height: 30px;
      margin-top: 6px;
      margin-bottom: 6px;

      // Last menu item doesn't need a border
      &:last-child {
        border-left: none;
      }

      // Style the links in the menu
      a {
        display: block;
        text-decoration: none;
        height: 42px; // Height is full size of nav bar so hover fills it
        padding: 0px 15px 0px 15px; //30px spacing between elements
        margin: 0px 15px 0px 15px;
        white-space: nowrap;

        // Typography settings:
        @extend %amoebaFontMedium;
        font-weight: bold;
        color: $amoebaGreenDark;
        font-size: 24px;
        line-height: 42px; //Center in the middle of the bar, 42px high
        text-align: center;

        &:hover {
          background: $amoebaGreen;
          border-radius: 6px;
        }
      }

      img {
        width: 20px;
        position: absolute;
        right: -10px;
        top: 12px;
      }
    }
  }
}