#team {
  position: relative;
  top: 90px;

  @include breakpoint(mobile) {
    top: -20px;
  }

  h1, h2 {
    text-align: center;
  }
  h1 {
    @extend %amoebaFontSemiBold;
    font-size: 80px;
    margin-bottom: -12px;

    @include breakpoint(tablet) {
      font-size: 65px;
    }
    @include breakpoint(mobile) {
      font-size: 42px;
      margin-bottom: 50px;
    }

  }

  hr#topOfPage {
    margin-bottom: -10px;

    @include breakpoint(mobile) {
      margin-top: -50px;
    }
  }

  hr#bottomOfPage {
    margin-bottom: 50px;

    @include breakpoint(tablet) {
      margin-bottom: 40px;
    }
    @include breakpoint(mobile) {
      margin-top: 15px;
    }
  }

  h2 {
    @extend %amoebaFontRegular;
    color: $amoebaGreenDark;
    font-size: 24px;
    margin-bottom: 25px;

    @include breakpoint(tablet) {
      padding: 0 20px;
      font-size: 18px;
      margin-bottom: 0px
    }
    @include breakpoint(mobile) {
      padding: 0 7px;
      font-size: 16px;
    }

    hr {
      margin-bottom: 10px;
    }

  }

  .team-member {
    @include clearfix;
    margin-top: 40px;

    h1, h2 {
      text-align: left;
    }

    h1 {
      font-size: 55px;
      margin: 30px 0 0 0;

      @include breakpoint(tablet) { 
        padding: 0 20px;
        font-size: 42px;
      }
      @include breakpoint(mobile) { 
        text-align: center;
      }
    }

    h2 {
      margin-top: -10px;
      font-size: 36px;
      color: $amoebaGreenDark;

      @include breakpoint(tablet) { 
        padding: 0 20px;
        font-size: 36px;
      }
      @include breakpoint(mobile) {
        text-align: center;
      }

    }

    i {
      @include socialHover;

      font-size: 36px;
      line-height: 36px;
      padding-right: 15px;

      @include breakpoint(mobile) { 
        text-align: center;
      }
      @include breakpoint(tablet) { 
        font-size: 32px;
        padding-right: 0px;
        &:first-child {
          padding-left: 25px;
        }
      }
    }

    a {
      @include breakpoint(mobile) { 
        text-align: center;
      }
    }

    p {
      @extend %amoebaFontMedium;
      font-size: 14px;

      @include breakpoint(tablet) { 
        padding: 0 25px;
        font-size: 14px;
      }
      @include breakpoint(mobile) { 
        text-align: center;
      }
    }

    .team-member-image {
      width: 375px;
      height: 375px;
      background-color: $amoebaGreen;
      box-shadow: 1px 2px 5px;
      margin-bottom: 10px;

      @include breakpoint(mobile) { 
        background-color: #FFF;
        width: 300px;
        height: 250px;
        padding-bottom: 50px;
      }


      &.right {
        float: right;
        margin-left: 50px;

        @include breakpoint(tablet) {
          margin-left: 10px;
          margin-right: 15px;
        }
        @include breakpoint(mobile) {
          float: none;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.left {
        float: left;
        margin-right: 50px;

        @include breakpoint(tablet) { 
          margin-right: 10px;
          margin-left: 15px;
        }
        @include breakpoint(mobile) { 
          float: none;
          margin-left: auto;
          margin-right: auto;
        }
      }

      img {
        @include breakpoint(mobile) {
          width: 300px;
          height: 300px; //TODO: Why does the <img> have a height of 300 while the container is 250?
        }
      }
    }
  }
}
